name: Simple Workflow

on:
  push:
    branches:
      - main
  pull-request:
    branches:
      - main

jobs:
  print-message:
    runs-on: ubuntu-latest
    steps:
      - name: Print a message
        run: echo "Greetings holders of eyes!"
